<ng-container *ngIf="field.type.realtype === 'text'">
  <div class="p-col-6">
    <label>{{ capitalizeFirstLetter(field.name) }}</label><br>
    <input pInputText [(ngModel)]="field.value" style="width:300px;" />
  </div>
</ng-container>

<ng-container *ngIf="field.type.realtype === 'file'">
  <div class="p-col-6">
    <label>File</label><br>
    <p-fileUpload customUpload="true" name="mainFile[]" multiple="no" mode="basic" accept="image/*" [auto]="true" chooseLabel="Browse" (uploadHandler)="onMainImageUpload($event)" ></p-fileUpload>
  </div>
</ng-container>
