<div style="padding: 10px;">
  <div>
    <img src="assets/images/piccolo-site-logo.png" alt="Piccolo Signature Creator" class="logo">
    <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Signature Creator</h2>
  </div>
</div>
<p-tabView>
  <p-tabPanel header="Parameters">
    <app-parameters></app-parameters>
  </p-tabPanel>
  <p-tabPanel header="Templates">
    <app-templates></app-templates>
  </p-tabPanel>
  <p-tabPanel header="Execute">
    <app-coder></app-coder>
  </p-tabPanel>
</p-tabView>

<p-scrollTop></p-scrollTop>
