


<p-tabMenu [model]="menuItens" [activeItem]="menuItens[0]"></p-tabMenu>

<p-tabMenu [model]="menuItens">
  <ng-template pTemplate="item" let-item let-i="index">
      <ng-container *ngIf="index == 0">
        <app-parameters></app-parameters>
      </ng-container>
      <ng-container *ngIf="index == 1">
        <app-templates></app-templates>
      </ng-container>
      <ng-container *ngIf="index == 2">
        <app-variables></app-variables>
      </ng-container>
      <ng-container *ngIf="index == 3">
        <app-generator></app-generator>
      </ng-container>
      <ng-container *ngIf="index == 4">
        <app-coder></app-coder>
      </ng-container>
  </ng-template>
</p-tabMenu>

<!--

  ngOnInit(): void {
    this.menuItens = [
      {label: 'Parameters', icon: 'pi pi-fw pi-home'},
      {label: 'Template', icon: 'pi pi-fw pi-calendar'},
      {label: 'Variables', icon: 'pi pi-fw pi-pencil'},
      {label: 'Generate', icon: 'pi pi-fw pi-cog'},
      {label: 'Code', icon: 'pi pi-fw pi-align-justify'}
   ];


-->

<div class="p-grid">
  <div style="padding-left: 5px;padding-right: 5px;">
      <p-card header="Parameters" styleClass="p-card-shadow">
        <div class="p-grid">
          <div class="p-col">
              <div class="p-col-6">
                <label>Name</label><br>
                <input pInputText [(ngModel)]="name" style="width:300px;" />
              </div>
              <div class="p-col-6">
                <label>Phone</label><br>
                <input pInputText [(ngModel)]="phone" style="width:300px;" />
              </div>
              <div class="p-col-6">
                <label>Mail</label><br>
                <input pInputText [(ngModel)]="email" style="width:300px;" />
              </div>
          </div>
          <div class="p-col">
              <div class="p-col-6">
                <label>Facebook</label><br>
                <input pInputText [(ngModel)]="this.facebook" style="width:300px;" />
              </div>

              <div class="p-col-6">
                <label>Insgram</label><br>
                <input pInputText [(ngModel)]="this.instagram" style="width:300px;" />
              </div>
              <div class="p-col-6">
                <label>Youtube</label><br>
                <input pInputText [(ngModel)]="this.youtube"  style="width:300px;"/>
              </div>
              <div class="p-col-6">
                <label>Large Image</label><br>
                <p-fileUpload customUpload="true" name="mainFile[]" multiple="no" mode="basic" accept="image/*" [auto]="true" chooseLabel="Browse" (uploadHandler)="onMainImageUpload($event)" ></p-fileUpload>
              </div>
          </div>
        </div>
      </p-card>
  </div>

  <div style="padding-top:15px;padding-left: 5px;padding-right: 5px;">
    <p-card header="Template" styleClass="p-card-shadow">
      <div>
        <p-fileUpload customUpload="true" mode="basic" multiple="no" accept="text/html" name="templateFile[]" [auto]="true" chooseLabel="Browse" (uploadHandler)="loadTemplate($event)" ></p-fileUpload>
      </div>
      <div>
        <textarea  [rows]="20" pInputTextarea autoResize="autoResize" [(ngModel)]="template" style="width: 100%;overflow-y: scroll!important;"></textarea>
      </div>
    </p-card>
  </div>
  <div style="padding-top:15px;padding-left: 5px;padding-right: 5px;">
    <p-card styleClass="p-card-shadow">
      <div>
        <button pButton type="button" icon="pi pi-cog" label="Generate" class="ui-button-raised" (click)="regenerateSignature()"></button>
      </div>
    </p-card>
 </div>

  <div style="padding-top:15px;padding-left: 5px;padding-right: 5px;">
    <p-card header="Signature Preview" styleClass="p-card-shadow">
      <div>
        <button pButton type="button" icon="pi pi-align-justify" label="Shows the Code" (click)="toggleCode()" class="ui-button-raised" value="click to copy" style="min-width:200px;"></button>
        &nbsp;
        <button pButton type="button" icon="pi pi-copy" label="Copy Signature HTML Code to Clipboard" (click)="copyInputMessage(preview)" class="ui-button-raised" value="click to copy" style="min-width:200px;"></button>
      </div>
      <div [innerHTML]="preview">
      </div>
    </p-card>
  </div>

  <ng-container *ngIf="showsCode">
    <div style="padding-top:15px;padding-left: 5px;padding-right: 5px;">
      <p-card header="Code" styleClass="p-card-shadow">
        <div>
          <textarea  [rows]="20" pInputTextarea autoResize="autoResize" #inputMessage [(ngModel)]="preview" style="width: 100%;overflow-y: scroll!important;"></textarea>
        </div>
      </p-card>
    </div>
  </ng-container>
</div>
<p-scrollTop></p-scrollTop>
