<div style="min-height: 500px;">
  <div style="padding-bottom: 20px;">
    <div style="float:right">
      <button pButton type="button" icon="pi pi-cog" label="Load Default Parameters" class="ui-button-raised" (click)="loadDefault()">
      </button>
        &nbsp;
      <button pButton type="button"
      icon="pi pi-align-justify"
      label="Parameters Editor"
      class="ui-button-raised"
      (click)="openEditor()">
      </button>
    </div>
    <p-fileUpload customUpload="true"
    name="mainFile[]"
    multiple="no"
    mode="basic"
    accept="application/json"
    [auto]="true"
    chooseLabel="Load Your Parameters"
    (uploadHandler)="loadParameters($event)"
    >
    </p-fileUpload>
   </div>

 <div>
      <!--<h5>Engine</h5>-->
      <app-custom-fields-engine></app-custom-fields-engine>
 </div>
</div>
